schema.wsdl

<definitions name = "ProxyBank"
            targetNamespace = "http://ithub.ru/primer/MyService.wsdl"
            xmlns = "http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns = "http://ithub.ru/primer/MyService.wsdl"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

	<message name="nullInputRequest">
		<part/>
  </message>
	<message name="getValutesResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="getValuteRequest">
		<part name="FromDate" type="s:dateTime"/>
		<part name="ToDate" type="s:dateTime"/>
		<part name="ValutaCode" type="s:string"/>
	</message>
	<message name="getValuteResponse">
		<part name="response" type="xsd:string"/>
	</message>

	<portType name="ServicePort">
		<operation name="getValutes">
			<input message="tns:nullInputRequest"/>
			<output message="tns:getValutesResponse"/>
		</operation>
		<operation name="getValute">
			<input message="tns:getValuteRequest"/>
			<output message="tns:getValuteResponse"/>
		</operation>
	</portType>

	<binding name = "ServiceFunc" type="tns:ServicePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getValutes">
			<input>
				<body use="literal"/>
			</input>
			<output>
				<body use="literal"/>
			</output>
		</operation>
		<operation name="getValute">
			<input>
				<body use="literal"/>
			</input>
			<output>
				<body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="Service">
		<port binding="ServiceFunc" name="Port">
			<soap:address location = "http://localhost:8000/" />
		</port>
	</service>

</definitions>